.upload-wrapper{
    width: 50%;
    height: 60px;
    background-color: #949498;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}

.upload-wrapper:hover{
    background-color: cadetblue;
}

.upload-logo{
    padding: 0%;
    margin-bottom: 0%;
}

.table-wrapper{
    margin: 10px;
    width: 90%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.MuiTable-root{
    min-width: 100% !important;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.MuiTableCell-root{
    cursor: default;
}

.MuiTableCell-body{
    cursor: pointer !important;
}

.MuiTableRow-hover{
    background-color: aqua;
}

.table-header{
    font-weight: 800 !important;
}