.candidate-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 30% 0%;
    cursor: pointer;
}


img{
    height: 35px;
}

.main-section{
    height: 100%;
    width: 100%;
    display: flex;
}

.resumes{
    width: 50%;
    height: 100%;
    transition: width 2s;
}

.jd{
    width: 50%;
    height: 100%;
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
    color: navy;
}

.content-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90%;
}

.analysis-wrapper{
    width: 10%;
    height: 50px;
    background-color: #949498;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    transition: width 2s;
}

img{
    transition: height 2s;
}

.analysis-wrapper:hover{
    background-color: cadetblue;
}

.analysis-logo{
    padding-bottom: 0%;
    margin-bottom: 0%;
}